
.banner{
  text-align: center;
  width:100%;
  height:100px;
  background-size:cover;
  padding:250px 0;
  margin:0 auto;
}
.container{
  color:white;
}

.container h2{
  font-size: 48px;
  margin:0;
}
.container p{
  margin:0 0 20px 0;
}
.btn{
  width:100px;
  height:30px;
  background-color: rgba(240, 252, 255);
  padding:12px 40px;
  border-radius: 32px;
  color:rgba(52, 52, 52, 0.8);
  margin-top: 4px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  transition: 1s;
}

.btn:hover{
  background-color: rgba(240, 252, 255, 0.5);
}
